$font-color: #445162;
$background-basic-color: #ffffff;
$background-section-color: #f5f5f5;



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: $font-color;
    background-color: $background-basic-color;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    //height: auto; скрыла потому что нет настоящих картинок в файле
}

html {
    height: 100%;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
    word-break: break-all;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0 0 0 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1280px;
    padding: 50px 50px 20px 50px;
}

.header {
    background-color: $font-color;
    color: $background-basic-color;
}

.header-set {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px 0;
}

.header__h1 {
    margin: 0 0 0 0;
    font-size: 60px;
    line-height: 60px;
}

.header__list {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    margin-top: 50px;
    list-style-type: none;
    font-size: 20px;
    line-height: 36px;
}

.header__item {
    position: relative;
    padding: 0 0 0 35px;
}

.check {
    position: absolute;
    left: 0px;
    top: 7px;
}

.description__text-wrapper {
    width: 651px;
}

.description__text {
    margin: 0 0 20px 0;
    &:last-child {
        margin: 0;
    }
}

.description__h2 {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 36px;
}

.dignity {
    background-color: $background-section-color;
    //padding: 50px 50px 20px 50px;
}

.dignity__h2 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0 0 30px 0;
    width: 100%;
}

.dignity__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    .dignity__item {
        padding: 0 20px 0 40px;
        position: relative;
        width: 590px;
        margin:0 0 30px 0;
    }
}

.plus-icon {
    position: absolute;
    font-size: 20px;
    color: $background-basic-color;
    background-color: $font-color;
    padding: 5px;
    top: 5px;
    left: 0;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
}

.screenshots__h2 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0 0 30px 0;
    width: 100%;
}

.screenshots__item--wrapper {
    display: flex;
    flex-wrap: wrap;
}

.screenshots__item {
    width: 590px;
    margin: 0 0 30px 0;
    padding: 0 10px 0 0;
    img {
        float: left;
        margin: 0 15px 0 0;
        outline: 1px solid black;
    }
    .screenshot-h3 {
        display: block;
        margin: 0 0 10px 0;
        font-size: 24px;
        line-height: 30px;
    }
    p {
        margin: 0 15px 0 0;
    }
}

//не совсем понимаю нужно ли мне здесь ставить этот псевдоэлемент
.screenshots__item:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
}

.reviews__h2 {
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0 0 30px 0;
}

.reviews__item {
    width: 590px;
    padding-left: 75px;
    position: relative;
    margin: 0 0 25px 0;
}


.reviews-text {
    padding: 15px 20px 10px 15px;
    margin: 0 15px 0 30px;
    font-size: 14px;
    line-height: 18px;
    background-color: #ebebeb;
    border-radius: 5px;
    p {
        margin: 0 0 15px 0;
    }
    .reviews-author {
        display: block;
        font-size: 14px;
        line-height: 18px;
        opacity: 0.5;
        margin: 0;
    }
    &::before {
        content: "";
        position: absolute;
        border: 15px solid transparent;
        border-right: 15px solid #ebebeb;
        top: 29px;
        left: 75px;
    }
}

.reviews__item::before {
    content: "";
    width: 75px;
    height: 75px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(../img/reviews.jpg);
    box-sizing: border-box;
    border-radius: 50px;
}

.back-color {
    background-color: $background-section-color;
}

.rates__h2 {
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0 0 30px 0;
}

.rates--wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.rates__card {
    width: 300px;
    background-color: $font-color;
    color: $background-basic-color;
    text-align: center;
    border: 2px solid $font-color;
    border-radius: 3px;
    padding: 0 0 20px 0;
    margin: 0 45px 20px 0;
    &:last-child {
        margin: 0 0 20px 0;
    }
}

.rates__h3 {
    margin: 0;
    padding: 16px;
    font-size: 24px;
    line-height: 30px;
}

.rates__price {
    display: block;
    margin: 0;
    padding: 18px;
    background-color: $background-basic-color;
    color: $font-color;
    font-size: 40px;
    box-sizing: border-box;
}

.rates__list {
    text-align: left;
    font-size: 14px;
    margin: 20px 0 20px 0;
    padding: 0 0 0 0;
    list-style-position: inside;
}

.rates__item {
    width: 260px;
    margin: 0 auto;
}

.button {
    display: block;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    background-color: $background-basic-color;
    width: 260px;
    text-transform: uppercase;
    color: $font-color;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    outline: none;
    &:hover{
        background-color: $background-section-color;
    }
    &:active, 
    &:focus {
        outline: none;
        border: none;
        background-color: #ccc;
    }
}

footer {
    background-color: $font-color;
}

.main-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-footer__h2 {
    display: block;
    width: 100%;
    color: $background-basic-color;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0 0 30px 0;
}


.user-form {
    width: 500px;
    margin: 0 60px 0 0;
}

.user-form__item {
    display: block;
    width: 100%;
    font: inherit;
    color: $font-color;
    padding: 10px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;

    &:focus {
        outline: none;
        background-color: #ccc;
    }
}

.button--form {
    border: none;
    width: 140px;
    margin: 20px auto 0 auto;
}

.contacts__list,
.cosial-icons__list {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0;
}

.contacts__item {
    position: relative;
    padding: 0px 0 0 40px;
    box-sizing: border-box;
}

.contacts__link {
    display: block;
    margin: 0 0 25px 0;
    color: $background-basic-color;
    &:hover,
    &:focus {
        outline: none;
        opacity: 0.7;
    }
    &:active {
        opacity: 0.3;
    }
}

.contacts-icon {
    font-size: 25px;
    position: absolute;
    left: 0px;
}

.cosial-icons__list {
    display: flex;
    padding: 0;
}

.cosial-icons__link {
    display: block;
    color: $background-basic-color;
    margin: 0 5px 0 0;
    &:focus {
        outline: none;
    }
    &:focus .twitter-icon,
    &:focus .linked-in-icon {
        border: none;
        outline: none;
        background-color: #ccc;
    }
    &:focus .facebook-icon,
    &:focus .google-icon,
    &:focus .you-tube-icon {
        border: none;
        outline: none;
        color: #ccc;
    }
}

.twitter-icon,
.linked-in-icon {
    background-color: $background-basic-color;
    color: $font-color;
    border-radius: 25px;
    font-size: 24px;
    padding: 10px;
    &:hover {
        outline: none;
        background-color: #ccc;
    }
}

.facebook-icon,
.google-icon,
.you-tube-icon {
    font-size: 44px;
    &:hover {
        outline: none;
        color: #ccc;
    }
}

.copyright {
    background-color: $background-basic-color;
    text-align: center;
    margin: 0;
    padding: 5px 0 5px 0;
}

